{% extends 'partials/content_base.html.twig' %}
{% form_theme form _self %}




{% block content_body %}

    <h1>Uploading {{ edit }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_account_user',{id:user.id})}}">Back to the profile</a>

{% endblock %}