{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">

                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image">

                            <img src="{{ asset(user.getImagePath()) }}" class="img-responsive thumbnail">

                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">

                            <h3>
                                {{ user!=null?user.nickname:app.user.nickname }}</h3>
                            <h4>{{ user.email }}</h4>
                            {% if is_granted('ROLE_ADMIN') or app.user ==user  %}
                                <a class="btn btn-labeled btn-info"
                                   href="{{ path('app_edit_name', {id: user.id}) }}">
                                    <span class="btn-label"><i class="fa fa-pencil"></i></span>Update name
                                </a>
                                <a class="btn btn-labeled btn-info"
                                   href="{{ path('app_edit_password', {id: user.id}) }}">
                                    <span class="btn-label"><i class="fa fa-pencil"></i></span>Update Password
                                </a>
                                <a class="btn btn-labeled btn-info"
                                   href="{{ path('app_edit_photo', {id: user.id}) }}">
                                    <span class="btn-label"><i class="fa fa-pencil"></i></span>Update Image
                                </a>
                            {% else %}
                                <p>Enviar mensaje</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>COMMENTS</h3>
                        <h4>{{ user.comments | length }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>Restaurants</h3>
                        <h4>{{ user.restaurants | length }}</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <h1>{{ user.nickname }}'s Restaurants</h1>
                {% include 'partials/list_restaurant.part.html.twig' with {menuType:pagination}   %}
            </div>

        </div>
    </div>


{% endblock %}

 {% block javascripts %}

     {{ parent() }}

     <script src="{{ asset('js/delete.js') }}"></script>
 {% endblock %}
