{% form_theme registrationForm _self %}



{% block _user_registration_form_captcha_row %}
    <div class="form-group">
        {{ form_errors(form) }}
    <label for="captcha">Captcha</label>
        <img src="web/captcha.php">
    <input type="password" class="form-control" id="captcha" name="{{ full_name }}" required  >

    </div>
{% endblock %}





{% extends 'base.html.twig' %}
{% block title %}Login!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    {#
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-signin" method="post">


                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" value="df" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>


                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
    #}

    <div class="col-sm-12">
        {{ form_start(registrationForm,{
            attr:{class:'form-signin '}
        }) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        {{ form_widget(registrationForm) }}
        {{ form_row(registrationForm.captcha) }}


        {{ form_row(registrationForm.captcha) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Register
        </button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}