{% extends'base.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">

                    {% block content_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}