
<div id="placesContainer" class="card-columns mt-3">

    {% for restaurant in pagination %}

       {% if restaurant.isActive == false %}
            <div class="card  text-white bg-warning">
       {% else %}
            <div class="card  ">
       {% endif %}

            <img class="card-img-top"  src="{{ asset(restaurant.imagePath) }}">
            <div class="card-body">
                <a href="{{path('restaurant_show',{slug:restaurant.slug})}}"> <h5 class="card-title">{{ restaurant.name }}</h5></a>

                <p class="card-text">{{ restaurant.description }}</p>
                <div class="card-text">
                    <small class="text-muted">
                        <strong>Opens: </strong> {{ restaurant.daysOpen|split(',')|daysName }}
                    </small>
                    {% if restaurant.isOpen() %}
                        <span class="badge badge-success">Abierto</span>
                    {% else %}
                        <span class="badge badge-danger">Cerrado</span>
                    {% endif %}
                </div>
                <div class="card-text">
                    <small class="text-muted">
                        <strong>Phone: </strong> {{ restaurant.phone }}
                    </small>
                </div>
                <div class="card-text">
                    <small class="text-muted">
                        <strong> Categoria: </strong> {{ restaurant.category.name }}
                    </small>
                </div>

                <div class="card-text">
                    <small class="text-muted">
                        <strong>Owner </strong>
                        <a href="{{ path('app_account_user',{id:restaurant.owner.id}) }}">
                            {{ restaurant.owner.nickname }}
                        </a>
                    </small>
                </div>
                <p class="card-text">
                    <small class="text-muted">{{ restaurant.nonDeletedComments|length }} comments</small>
                </p>
                <p class="card-text">

                    <small class="text-muted">Last updated
                        {{ restaurant.publishAt ? restaurant.publishAt | ago:'no publico  c' }}</small>
                </p>

                {% if restaurant.isMine(app.user) or is_granted('ROLE_ADMIN') %}

                    {% if restaurant.isActive == false %}
                        <button class="mt-2 btn btn-sm  btn-secondary" id="{{ restaurant.id }}">
                            Activate</button>
                    {% else %}
                        <button class="mt-2 btn btn-sm btn-danger btn-delete" id="{{ restaurant.id }}">
                            Delete</button>
                     {% endif %}


                    <a href="{{ path('restaurant_edit', {
                        id: restaurant.id
                    }) }}">
                        <button class="mt-2 btn btn-sm btn-info btn-info">Update</button>
                    </a>
                {% endif %}

            </div>

            <div class="card-text mx-auto text-center">
                <small class="text-muted">
                    {%  for i  in 1..restaurant.stars if restaurant.stars != 0 %}
                        <i class="fa fa-star fa-2x"></i>
                    {% endfor %}
                </small>
            </div>

            <div class="card-footer">
                <small class="text-muted">
                    {{ restaurant.cuisine }}
                </small>
                <small class="text-muted">

                </small>
            </div>
        </div>
    {% else %}
        <h>restaurant not found </h>
    {% endfor %}


</div>
<div class=" pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>



