
<div class=" col-sm-2 card card-body bg-light ">
    <table class="table table-inbox table-hover">
        <tbody>
        <tr class="">
            <td class="view-message">
                <a href="{{ path('message_index',{id:app.user.id}) }}"> See send messages</a>

            </td>
        </tr>
        <tr class="">
            <td class="view-message">

                <a href="{{ path('messageSend',{id:app.user.id}) }}"> See received messages</a>

            </td>
        </tr>

        <tr class="">
            <td class="view-message">
                <a href="{{ path('message_new',{id:app.user.id}) }}">Create new</a>
            </td>
        </tr>
        <?endif;?>


        </tbody>
    </table>
</div>