<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse display:inline" id="navbarSupportedContent">

        <div class="container-fluid">
            <form class="form-inline my-2 my-lg-0">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <select   class="form-control" name="categoria" id="categoria"  size="10">
                                <option  value="-1">Show all</option>
                                {% for category in categories %}
                                    {% if app.request.query.get('categoria')  == category.id %}
                                        <option value="{{ category.id }}" selected>
                                    {% else %}
                                        <option value="{{ category.id }}">
                                    {% endif %}
                                       {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" > Estrellas</a>
                    </li>

                    <li class="nav-item active" >
                        <input class="form-control mr-sm-2" type="number" name="numberStar"
                               value="{{ app.request.query.get('numberStar') }}"
                               min="0" max="5">
                    </li>

                    <li class="nav-item active">
                        <div class="checkbox form-control mr-sm-2" >
                            <label>
                                {% if app.request.query.get('open')  == "Yes" %}
                                        <input type="checkbox" value="Yes" id="open" name="open" checked>
                                    {% else %}
                                        <input type="checkbox" value="Yes" id="open" name="open">
                                {% endif %}

                                Open
                            </label>
                        </div>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <div class="checkbox form-control mr-sm-2" >
                            <label>
                                {% if app.request.query.get('active')  == "Yes" %}
                                    <input type="checkbox" value="Yes" id="active" name="active" checked>
                                {% else %}
                                    <input type="checkbox" value="Yes" id="active" name="active">
                                {% endif %}

                                Active
                            </label>
                        </div>
                    </li>
                    {% endif %}

                    <li class="nav-item active">
                        <input class="form-control " id="name" name="name" type="text"
                               value = "{{ app.request.query.get('name') }}"
                               placeholder="Buscar"
                        aria-label="Search">
                    </li>

                </ul>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar</button>
            </form>
        </div>
    </div>
</nav>