/* ARTICLES */


/* ARTICLE SHOW PAGE */

.show-article-container {
    width: 100%;
    background-color: #fff;
}

.show-article-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.show-article-title {
    font-size: 2em;
}

html {height:100%}

body {
    position: relative;
    background: #efefee;
    min-height: 45rem;
    padding-bottom: 80px;
}


.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}


/**Para los comentarios **/
.commenter-name {
    font-weight: bold;
}


.comment-img {
    width: 50px;
    height: auto;
    border: 1px solid darkgray;
}

.comment_text{
    margin-left: 1em;
}

/** Para la barra de navegacion **/
.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}
.dropdown-menu, .dropdown-menu.show {
    right: 0;
}
