{% extends 'partials/content_base.html.twig' %}

{% block content_body %}

    <a href="{{ path('add_restaurant') }}" class="btn btn-primary pull-right">
        Create <span class="fa fa-plus-circle"></span>
    </a>
    <h1>All Restaurants</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Active?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.owner.nickname}}</td>
                <td>
                  <span class="fa fa-{{ restaurant.isActive ? 'check' : 'times' }}"></span>
                </td>
                <td>
                    <a href="{{ path('restaurant_edit', {
                        id: restaurant.id
                    }) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}