{% extends 'partials/content_base.html.twig' %}


{% block content_body %}

    <div class="row">
    <div class="col-sm-12">
    <h1>Manage Users({{ pagination.getTotalItemCount }})</h1>
    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   placeholder="Search..."
                   value = "{{ app.request.query.get('q') }}">

            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-outline-secondary">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>

    <div class="container">
    <div id="placesContainer" class="card-columns mt-4">
    {% for user in pagination %}
        {% if user.isActive == false %}
        <div class="card  text-white bg-warning">
            {% else %}
            <div class="card  ">
        {% endif %}
        <img class="card-img-top"  src="{{ asset(user.imagePath) }}">
        <div class="card-body">
            <a href="{{ path('app_account_user',{id:user.id}) }}">
            <h5 class="card-title">{{ user.nickname }} </h5></a>
                <p><span>ROL:{{user.roles[0]}}</span></p>
            <a href="{{ path('user_edit_admin', {
                id: user.id
            }) }}">
                <button class="mt-2 btn btn-sm btn-info btn-info">Change privilages</button>
            </a>
        </div>

    </div>
            {% else %}
            <h2>Not user found</h2>

  {% endfor %}
    </div>
    </div>
    {{ knp_pagination_render(pagination) }}
    </div>
    </div>

{% endblock %}