{% extends 'partials/content_base.html.twig' %}





{% block content_body %}
    {% block form_title %}
        <h1>Adding new restaurant</h1>
    {% endblock %}
    {{ form_start(restaurantForm) }}
    {{ form_widget(restaurantForm) }}
    <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(restaurantForm) }}
{% endblock %}