{% form_theme form _self %}
{% extends 'partials/content_base.html.twig' %}

{% block title %}{{ restaurant.name }}'s Details{% endblock %}

{% block content_body %}

    <div id="cardContainer" class=" card mt-4">
        <img class="card-img-top"
            src="{{ asset(restaurant.imagePath) }}"
        >
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name  }}</h5>
            <p class="card-text">{{ restaurant.description }}</p>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Opens: </strong> {{ restaurant.daysOpen|split(',')|daysName }}
                </small>

                {% if restaurant.isOpen() %}
                    <span class="badge badge-success">Abierto</span>
                {% else %}
                    <span class="badge badge-danger">Cerrado</span>
                {% endif %}
            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Telefono: </strong> {{ restaurant.phone }}
                </small>
            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong> Current Rating </strong> {{ restaurant.stars }}</strong>
                </small>
            </div>
            <p class="card-text"><small class="text-muted">Last updated
                    {{ restaurant.publishAt ? restaurant.publishAt | ago:'no publico  c' }}</small></p>


            <!--
            <? if ($restaurant->isMine()  || ( $app['user']!="" && $app['user']->getRol() ?? "" === 'ROLE_ADMIN')):?>
            <button class="mt-2 btn btn-sm btn-danger btn-delete" id="<?= $restaurant->getId() ?>">
                <?= _("Borrar")?></button>
            <a href="/edit-restaurant/<?=$restaurant->getId()?>">
                <button class="mt-2 btn btn-sm btn-info btn-info"><?= _("Editar")?></button>
            </a>
            </button>
            <?endif;?>

            -->

        </div>
        <div class="card-footer">
            <small class="text-muted">
                {{ restaurant.cuisine }}
            </small>
        </div>

    </div>

    <!-- COMENTARIOS -->
    <div class="row">
        <div class="col-sm-12">

            <ul class="list-group mt-4 mb-4" id="comments">
                <li class="list-group-item active">
                    <h3><i class="pr-3 fa fa-comment"></i>{{ restaurant.nonDeletedComments|length }} Comments</h3>
                    <hr>
                </li>
                {% for comment in restaurant.nonDeletedComments %}
                <li class="list-group-item d-flex flex-row">
                    <a href="{{ path('app_account_user',{id:comment.author.id}) }}">
                        <div>
                            <img class="comment-img rounded-circle" src="{{ asset(comment.author.getImagePath()) }}">
                        </div>
                    </a>

                    <div class="comment_text">
                        <span class="commenter-name">{{ comment.author.nickname }}</span>
                        <br>
                        <span class="comment"> {{ comment.content }}</span>
                        <div>
                            {%  for i  in 1..comment.stars if comment.stars != 0 %}
                                <i class="fa fa-star "></i>
                            {% endfor %}
                        </div>
                        <small>{{ comment.createdAt|ago }}</small>

                        {% if comment.isDeleted %}
                            <span class="fa fa-close"></span> deleted
                        {% endif %}
                    </div>


                </li>
                {% endfor %}
            </ul>

            {% if is_granted('ROLE_USER') %}

                <h4> Your opinion:</h4>
                {{ form_start(form,{
                    attr:{class:'mt-4'}
                }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            {% endif %}

        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/detail_restaurant.js') }}"></script>
{% endblock %}
