{% extends 'base.html.twig' %}



{% block body %}


    <div class="container p-3 mt-4">

    {% include 'partials/search_input.part.html.twig' with {menuType:categories, menuType:app} %}
    {% include 'partials/list_restaurant.part.html.twig' with {menuType:pagination}   %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}