{% extends 'partials/content_base.html.twig' %}
{% block title %}Message index{% endblock %}


{% block content_body %}


    <div class="row .mt-20">
        <h1>{{ app.user.nickname }}'s Message</h1>
    </div>

    <div class="row .mt-20">
    {% include 'partials/message_tab.part.html.twig'   %}


        <div class="col-sm-10">

            <div class="card">
                <div class="card-body">
            {% block message_body %}
            <table class="table table-inbox table-hover">
                <tbody>
                {% for message in messages %}
                <tr class="asdfasdf ">
                    <td class="view-message dont-show">{{ message.emisor.nickname }} </td>
                    <td class="view-message">{{ message.title }}</td>
                    <td class="view-message text-right">{{ message.createdAt|ago }}</td>
                    <td class="view-message text-right">
                        <a href="{{ path('message_show', {'id': message.id}) }}">show</a>
                    </td>
                    <td class="view-message text-right">

                        {% include 'message/_delete_form.html.twig'with {menuType:message}   %}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock  %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
