{% extends 'message/index.html.twig' %}

{% block title %}New Message{% endblock %}


{% block message_body %}
    {{ include('message/_form.html.twig') }}
    <a href="{{ path('message_index',{id:app.user.id})}}" >back to list</a>
{% endblock %}

