{% extends 'message/index.html.twig' %}
{% block title %}Message{% endblock %}

{% block message_body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ message.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('message_index',{id:app.user.id})}}" >back to list</a>
{% endblock %}
