<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to the FoodScore{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    {% endblock %}
</head>
    <body>


    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning" style="margin-bottom: 0;">
            You are currently switched to this user.
            <a href="{{ path('app_homepage', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
        </div>
    {% endif %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('app_homepage') }}">FoodScorer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_homepage') }}" >Home</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link"  href="{{ path('message_index',{id:app.user.id}) }}">Message </a>
                </li>
                {%endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown" style="margin-right: 75px;">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="nav-profile-img rounded-circle" src="{{ asset(app.user.getImagePath()) }}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_account_user',{id:app.user.id})}}">Profile</a>
                            <a class="dropdown-item" href="{{ path('add_restaurant') }}">Create Restaurant</a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('comment_admin') }}">Review comments</a>
                                <a class="dropdown-item" href="{{ path('restaurant_admin') }}">Review Restaurants</a>

                                <a class="dropdown-item" href="{{ path('users_admin') }}">Review Users</a>


                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #fff;" class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}


    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">Made with <i class="fa fa-heart" style="color: red;"></i> by Toni </span>
        </div>
    </footer>

        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
         {% endblock %}
    </body>
</html>
